.research-total {
  max-width: 39.75rem;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  row-gap: 2.5rem;

  @media only screen and (max-width: 900px) {
    row-gap: 2.8rem;
  }
}

.research-total__title {
  font-weight: 100;
  .title {
    line-height: 1;

    @media only screen and (max-width: 900px) {
      line-height: 1.25;
    }
    @media only screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }
}

.research-total__text-wrapper {
  max-width: 36.875rem;
}

.research-total__text-title {
  margin: 2rem 0;
  font-weight: 600;
}
