.research {
  padding: 0 0 156px;
  background-color: var(--white);
  position: relative;

  @media only screen and (max-width: 1515px) {
    padding: 0 70px 156px;
  }

  @media only screen and (max-width: 1050px) {
    padding: 0 0 156px;
  }

  @media only screen and (max-width: 900px) {
    padding: 140px 0 50px;
  }

  @media only screen and (max-width: 600px) {
    padding: 118px 0 62px;
  }
}

.research::after {
  content: '';
  height: 1573px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url('../../../../assets/images/research_background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right calc((100vw - 1920px) / 2);
  z-index: 0;

  @media only screen and (max-width: 1515px) {
    filter: blur(10px);
  }

  @media only screen and (max-width: 600px) {
    height: 894px;
    background-size: cover;
    background-position: bottom right -150px;
  }
}

.research__content {
  max-width: 1365px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}
