.logo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 0.75rem;

  font-family: var(--font-family--secondary);

  cursor: default;
}

.logo.logo--main {
  @media only screen and (max-width: 900px) {
    column-gap: 0.6rem;
  }

  .logo__main-text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    color: var(--green);

    @media only screen and (max-width: 900px) {
      font-size: 2rem;
    }
  }

  .logo__subtitle-text {
    @media only screen and (max-width: 900px) {
      font-size: 0.5rem;
      //line-height: 6px;
    }
  }

  .logo__icon-wrapper {
    display: flex;
    align-items: flex-end;

    padding-bottom: 0.15rem;

    svg {
      width: 4.875rem;
      height: 3.5rem;
    }

    @media only screen and (max-width: 900px) {
      padding-bottom: 0.25rem;

      svg {
        width: 4.1rem;
        height: 2.9rem;
      }
    }
  }
}

.logo.logo--main.logo--white {
  .logo__main-text,
  .logo__subtitle-text {
    color: var(--white);
  }
}

.logo.logo--alt {
  @media only screen and (max-width: 900px) {
    column-gap: 0.6rem;
  }

  .logo__text {
    place-content: center;
  }

  .logo__main-text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.125;
    color: var(--white);

    @media only screen and (max-width: 900px) {
      font-size: 2rem;
    }
  }

  .logo__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      width: 4.875rem;
      height: 3.5rem;
    }

    @media only screen and (max-width: 900px) {
      svg {
        width: 4.1rem;
        height: 2.9rem;
      }
    }
  }

  .logo__icon-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family--logo-icon);
    font-size: 1.875rem;
    line-height: 1.2;
    color: var(--white);

    @media only screen and (max-width: 900px) {
      font-size: 1.5rem;
    }
  }
}

.logo.logo--alt.logo--alt-large {
  grid-gap: 1.5rem;

  @media only screen and (max-width: 900px) {
    place-content: center center;
  }

  @media only screen and (max-width: 600px) {
    grid-gap: 0.8rem;
  }
  .logo__main-text {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.125;
    color: var(--white);

    @media only screen and (max-width: 900px) {
      font-size: 9rem;
    }

    @media only screen and (max-width: 600px) {
      font-size: 4rem;
    }
  }

  .logo__icon-wrapper {
    svg {
      * {
        //stroke-width: 0.375rem;
      }
      width: 13.25rem;
      height: 9.5rem;
    }

    @media only screen and (max-width: 900px) {
      svg {
        width: 12.8rem;
        height: 9.8rem;
      }
    }
    @media only screen and (max-width: 600px) {
      svg {
        width: 6.8rem;
        height: 4.8rem;
      }
    }
  }

  .logo__icon-text {
    font-size: 5rem;
    line-height: 1.2125;

    @media only screen and (max-width: 900px) {
      font-size: 4.8rem;
      line-height: 1.125;
    }

    @media only screen and (max-width: 600px) {
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }
}

.logo__text {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-auto-columns: max-content;
  grid-gap: 0.25rem;

  text-align: center;

  @media only screen and (max-width: 900px) {
    grid-gap: 0.4rem;
  }
}

.logo__subtitle-text {
  font-size: 0.66rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--green);
}
