.research-experience {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;

  @media only screen and (max-width: 1515px) {
    row-gap: 2.375rem;
  }
  @media only screen and (max-width: 1375px) {
    min-height: unset;
  }
  @media only screen and (max-width: 900px) {
    row-gap: 3.8rem;
  }
}

.research-experience__share-experience {
  padding: 0.8125rem 1.5625rem;
  border-radius: 1rem;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(min-content, 17.25rem) minmax(
      min-content,
      43.75rem
    );
  column-gap: 2rem;

  background-color: var(--green--80a);

  @media only screen and (max-width: 1375px) {
    margin: 6.5rem 0 0;
  }
  @media only screen and (max-width: 1050px) {
    margin: 6.5rem 4.375rem 0;
    grid-auto-flow: row;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  @media only screen and (max-width: 900px) {
    margin: 2.5rem 0 0;
    row-gap: 1.5rem;
  }
}

.research-experience__share-experience-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;

  font-weight: 600;
  color: var(--white);

  @media only screen and (max-width: 1050px) {
    justify-content: flex-start;
    text-align: left;
  }
}

.research-experience__share-experience-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: 700;
  color: var(--white);
}

.research-experience__total {
  padding: 4.5rem 2.25rem 0 0;
  margin-left: -6.25rem;
  align-self: flex-start;

  @media only screen and (max-width: 1515px) {
    border-radius: 1rem;
    background-color: var(--white--70a);
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
    padding: 5.25rem 3.125rem 4.375rem;
  }
  @media only screen and (max-width: 1375px) {
    margin-left: unset;
  }
  @media only screen and (max-width: 900px) {
    align-self: center;
    text-align: center;
    padding: 3rem 2rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 3rem 1rem 2rem;
  }
}
