.research-info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;

  @media only screen and (max-width: 1375px) {
    min-height: unset;
    padding-top: 8.5rem;
  }
  @media only screen and (max-width: 900px) {
    padding-top: 6rem;
  }
  @media only screen and (max-width: 600px) {
    padding-top: 5rem;
  }
}

.research-info__title {
  font-weight: 100;

  @media only screen and (max-width: 1375px) {
    text-align: center;
  }
}

.research-info__title-wrapper > .research-info__title {
  @media only screen and (max-width: 600px) {
    font-size: 3rem;
    line-height: 1.2;
  }
}

.research-info__our-mission {
  max-width: 43.75rem;
  margin: 1.5rem 0 2.25rem;
  padding: 1.5rem 0;

  text-align: center;
  font-weight: 700;

  @media only screen and (max-width: 600px) {
    margin: 1.2rem 0 3rem;
    padding: 0;
  }
}
