.about-us {
  width: 100%;
  background: var(--main-gradient--first), var(--main-gradient--second);
  position: relative;

  & * {
    z-index: 2;
  }
}

.about-us::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 29.5rem;

  height: 100%;

  background-image: url(../../../../assets/icons/about-us_background-leaves.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  z-index: 0;
}

.about-us__content {
  display: flex;
  flex-direction: column;
}