.footer {
  min-height: 100vh;
  padding: 10rem 0;

  background-color: var(--lightgreen);

  scroll-snap-align: start;

  @media only screen and (max-width: 1375px) {
    min-height: unset;
  }
  @media only screen and (max-width: 900px) {
    padding: 7.5rem 0 0;
  }
}

.footer__content {
  max-width: 50vw;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1920px) {
    max-width: 59.5rem;
  }
}

.footer__title {
  font-weight: 100;
  text-align: center;

  .title {
    @media only screen and (max-width: 900px) {
      font-size: 3rem;
      line-height: 1;
    }
  }
}

.footer__telegram-link {
  width: 100%;
  padding: 0.375rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.8125rem;

  border-radius: 1rem;
  outline: 2px solid transparent;
  background-color: var(--white--28a);

  transition: all 0.2s ease-in;
  cursor: pointer;

  @media only screen and (max-width: 900px) {
    padding: 0.3rem 0;
    column-gap: 0.4rem;
  }
}

.footer__telegram-link:hover {
  outline: 2px solid var(--green);
  color: var(--green);

  .footer__telegram-icon {
    fill: var(--green);
  }
}

.footer__telegram-icon {
  width: 4rem;
  height: 4rem;
  transition: all 0.2s ease-in;

  @media only screen and (max-width: 900px) {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.footer__contacts {
  padding: 4rem 0 3.25rem;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  row-gap: 0.875rem;

  text-align: center;

  @media only screen and (max-width: 900px) {
    padding: 2.8rem 0 5.5rem;
  }
}

.footer__logos {
  margin-top: 6.625rem;

  display: flex;
  column-gap: 3.5rem;

  @media only screen and (max-width: 900px) {
    margin-top: 20rem;
    margin-bottom: 3.2rem;
    justify-content: center;
    column-gap: 3.2rem;
  }
}

.footer__navigation {
  display: none;

  @media only screen and (max-width: 900px) {
    width: 100vw;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    place-content: center;
    column-gap: 3rem;

    padding: 1.2rem var(--container-padding) 7rem;

    background-color: var(--white);
  }
}

.footer__navigation-link {
  font-family: var(--font-family--primary);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.8;

  color: var(--font--dark);
  text-decoration: none;
  transition: color 0.2s ease-in;

  @media only screen and (max-width: 900px) {
    font-size: 1rem;
  }
}

.footer__navigation-link-wrapper {
  &:hover {
    .footer__navigation-link {
      color: var(--green);
    }
  }
}

.footer__navigation-link-wrapper:last-child {
  display: none;
}
