.our-benefits {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;

  @media only screen and (max-width: 1375px) {
    min-height: unset;
    display: block;
    padding-top: 5rem;
  }
}

.our-benefits__content {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  row-gap: 4.375rem;
  padding: 0 4.375rem;

  @media only screen and (max-width: 1375px) {
    padding: 0 1.5625rem;
  }
  @media only screen and (max-width: 900px) {
    row-gap: 2.5rem;
    padding: 0 1rem;
  }
  @media only screen and (max-width: 600px) {
    row-gap: 1rem;
    padding: 0;
  }
}

.our-benefits__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 1.25rem;

  @media only screen and (max-width: 600px) {
    column-gap: 1.5rem;
  }
}

.our-benefits__title {
  font-family: var(--font-family--secondary);
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 1.115;
  color: var(--white);

  cursor: default;

  @media only screen and (max-width: 900px) {
    font-size: 9rem;
  }
  @media only screen and (max-width: 600px) {
    font-size: 5rem;
    line-height: 1.16;
  }
}

.our-benefits__subtitle {
  color: var(--white);
  font-weight: 600;
}

.our-benefits__benefits-list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.25rem;
  row-gap: 3.125rem;

  @media only screen and (max-width: 1375px) {
    grid-template-columns: 1fr;
    row-gap: 1.5625rem;
  }
  @media only screen and (max-width: 900px) {
    row-gap: 1.8rem;
  }
  @media only screen and (max-width: 600px) {
    row-gap: 1rem;
  }
}

.our-benefits__benefit {
  min-height: 11rem;
  @media only screen and (max-width: 900px) {
    min-height: 10rem;
  }
  @media only screen and (max-width: 600px) {
    min-height: unset;
    max-height: 7.5rem;
  }
}

.our-benefits__benefit-content {
  height: 100%;
  padding: 0 3.125rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25rem;

  border-radius: 1rem;
  background-color: var(--white--22a);
  box-shadow: 0px 0.25rem 0.25rem var(--black--15a);

  @media only screen and (max-width: 900px) {
    padding: 1.3rem 3rem;
    column-gap: 1rem;
  }
}

.our-benefits__benefit:last-child {
  grid-column: 1 / -1;

  .our-benefits__benefit-content {
    width: calc(40% - 2.25rem);
    margin: 0 auto;

    @media only screen and (max-width: 1375px) {
      width: auto;
      margin: unset;
    }
  }
}

.our-benefits__benefit-text {
  max-width: 66.6%;
  font-weight: 700;
  color: var(--white);

  @media only screen and (max-width: 600px) {
    max-width: unset;
  }
}

.our-benefits__icon-wrapper {
  height: 6.75rem;
  width: 8rem;

  @media only screen and (max-width: 900px) {
    width: unset;
    height: unset;
  }

  img {
    height: 100%;
    width: auto;
  }
}
